
.s_scroll_progress {
    display: none;
    height: 0.3em;

    header & {
        position: absolute;
        inset: 100% 0 auto 0;
    }

    // Show only once at the right place and configured
    header &, &.fixed-bottom {
        display: block;
    }

    .s_scroll_progress_bar {
        position: absolute;
        inset: 0 auto 0 0;
        width: 0;
    }
}
