.max-width-325px {
  max-width: 325px;
}

.numpad-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.modal-body .numpad-button {
  @include media-breakpoint-down(xl) {
    padding: map-get($spacers, 2) 0;
  }
}

.numpad-button {
  @include media-breakpoint-down(xl) {
    padding: 0;
  }

  &.active {
    color: $o-action;
  } 

  &:disabled {
    opacity: 1;
    background-color: $o-gray-200
  }
}

.numpad-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
